{%extends 'base.html'%}
{% block content %}
<!-- Центральная область -->
<div class="col-12 col-md-9 col-xl-7 border-end border-start border-light" style="background: #ffffff;">
    <div class="p-3 border-bottom bg-white d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="m-0 fw-semibold" id="folderTitle"></h5>
        <div class="d-flex gap-2 mt-2 mt-sm-0">
            <button class="btn btn-sm btn-outline-secondary rounded-pill"><i class="bi bi-calendar2-plus"></i> Создать
            </button>

        </div>
    </div>
    <div class="scroll-list">

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p>ФИО: {{ client.name }} </p>
                <p>Email: {{ client.email }}</p>
                <p>Комментарии: {{ client.comment }}</p>
                <p>
                    <a role="button" class="btn btn-sm btn-outline-secondary rounded-pill" href="{% url 'sending:clients' %}"><i
                            class="bi bi-arrow-repeat"></i> Назад</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}