{%extends 'base.html'%}
{% block content %}
<!-- Центральная область -->
<div class="col-12 col-md-9 col-xl-7 border-end border-start border-light" style="background: #ffffff;">
    <div class="p-3 border-bottom bg-white d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="m-0 fw-semibold" id="folderTitle"></h5>
        <div class="d-flex gap-2 mt-2 mt-sm-0">
            <a role="button" class="btn btn-sm btn-outline-secondary rounded-pill" href="{% url 'sending:sending_message_create' %}"><i
                    class="bi bi-calendar2-plus"></i> Создать
            </a>
        </div>
    </div>
     {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="scroll-list">

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p>Дата и время начала отправки: {{ sending_message.start_time }} </p>
                <p>Дата и время окончания отправки: {{ sending_message.end_time }}</p>
                <p>Статус: {{ sending_message.get_status_display }}</p>
                <p>Сообщение: {{ sending_message.message }}</p>
                <p>Получатели:</p>
                {% for cl in sending_message.client.all %}
                    <p>{{ cl }}</p>
                {% empty %}
                    <li>Нет получателей</li>
                {% endfor %}
                <p>
                    <a role="button" class="btn btn-sm btn-outline-secondary rounded-pill" href="{% url 'sending:sending_messages' %}"><i
                            class="bi bi-arrow-repeat"></i> Назад</a>
                    <form method="post" action="{% url 'sending:sending_message_send' sending_message.pk %}"
                              class="d-inline"
                              onsubmit="return confirm('Вы уверены, что хотите отправить рассылку {{ sending_message.client.count }} клиентам?');">
                            {% csrf_token %}
                            {{ send_form.as_p }}
                            <button type="submit" class="btn btn-sm btn-success">
                                <i class="bi bi-envelope-arrow-down-fill"></i> Отправить сейчас
                            </button>
                        </form>

                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



{% endblock %}